## Deliverable 3. Create a Travel Itinerary Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [17]:
print(gkey)

AIzaSyBHEkapup8dQHUvdPRP12wZFDCJb5ZLaeM

In [18]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Ponta Do Sol,PT,75.0,few clouds,32.67,-17.10,NaN
1,1,Arraial Do Cabo,BR,69.8,mist,-22.97,-42.03,NaN
2,2,Avarua,CK,73.4,overcast clouds,-21.21,-159.78,NaN
3,3,Purepero,MX,60.8,heavy intensity rain,19.92,-102.02,NaN
4,4,Busselton,AU,64.0,light rain,-33.65,115.33,NaN

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Country</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
print("Hi")

Hi

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[(vacation_df["City"]=="Elizabeth City")]
vacation_stop1_df = vacation_df.loc[(vacation_df["City"]=="Miramar")]
vacation_stop2_df = vacation_df.loc[(vacation_df["City"]=="Northport")] 
vacation_end_df = vacation_df.loc[(vacation_df["City"]=="Morgan City")] 
vacation_start_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
252,486,Elizabeth City,US,57.99,few clouds,36.29,-76.25,NaN

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

Elizabeth_City=vacation_start_df["Lat"].to_numpy()[0],vacation_start_df["Lng"].to_numpy()[0]
Miramar=vacation_stop1_df["Lat"].to_numpy()[0],vacation_stop1_df["Lng"].to_numpy()[0]
Northport=vacation_stop2_df["Lat"].to_numpy()[0],vacation_stop2_df["Lng"].to_numpy()[0]
Morgan_City=vacation_end_df["Lat"].to_numpy()[0],vacation_end_df["Lng"].to_numpy()[0]

In [11]:
(Elizabeth_City[0])

36.29

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig=gmaps.figure()
Elizabeth_City2MiramarNorthportMorgan_City=gmaps.directions_layer(
            Elizabeth_City, Morgan_City)
fig.add_layer(Elizabeth_City2MiramarNorthportMorgan_City)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df,vacation_stop1_df,vacation_stop2_df,vacation_end_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,486,Elizabeth City,US,57.99,few clouds,36.29,-76.25,NaN
1,605,Miramar,US,82.00,overcast clouds,25.99,-80.23,NaN
2,546,Northport,US,57.00,clear sky,33.23,-87.58,NaN
3,450,Morgan City,US,63.00,clear sky,29.70,-91.21,NaN

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city.  
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:

# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))